@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  @apply flex flex-col justify-center p-8;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-4xl mb-6;
}

h2.title {
  @apply text-5xl md:text-7xl lg:text-8xl tracking-tighter leading-tight md:leading-none mb-12 mt-12;
}

h3 {
  @apply text-2xl mb-3 leading-snug;
}

h3.big {
  @apply mb-4 text-4xl lg:text-6xl leading-tight;
}

h4 {
  @apply text-xl mb-3 leading-snug font-bold;
}

h5 {
  @apply mb-3 leading-snug font-bold;
}

nav ul {
  @apply flex items-center list-none gap-4 my-0;
}

p,
ul,
ol,
blockquote {
  @apply mb-6;
}

ul ul {
  @apply mb-0;
}

ol {
  @apply list-outside list-decimal pl-8 md:pl-12;
}

ul {
  @apply list-outside list-disc pl-8 md:pl-12;
}

nav a:hover,
p a,
ol a,
ul a {
  @apply text-red-400;
}

a {
  @apply transition-colors duration-200;
}

section img {
  @apply py-2;
}

.project-info p {
  @apply my-3;
}
